@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #41729F;
  --color-secondary: #5885AF;
  --color-tertiaty: #274472;
}

a { 
  color: var(--color-primary);
}
/* Red border issue */
a:hover {
  /* @apply border-b-2 border-red-700;
   */
   cursor: pointer;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
